@media screen and (max-width: 746px) {
  section {
    height: 100%;
    padding-top: 50px;
  }
  .playerNum {
    height: 100%;
    width: 100%;
  }
  
  .triangle.triangle1, .triangle.triangle2 ,.triangle.triangle3 ,.triangle.triangle4 {
    position: static;
    height: 180px;
    width: 360px;
    background-color: #00B4CC;
    display: block;
	border: 0;
    margin: 10px auto;
  }

  .triangle.rectangle {
    background-color: #00DFFC;
    position: static;
    margin: 10px auto;
  }
  
  .number{
    display: none;
  }
}

@media screen and (max-width: 635px) {
  section {
    padding-top: 50px;
  }
  .name.hidden {
    width: 400px;
    font-size: 65px;
  }
  header {
    font-size: 20px;
  }
}

@media screen and (max-width: 527px) {
  section {
    padding-top: 50px;
  }
  .name.hidden {
    width: 320px;
    font-size: 55px;
  }
  header {
    font-size: 15px;
  }
  .triangle.triangle1, .triangle.triangle2 ,.triangle.triangle3 ,.triangle.triangle4 {
    position: static;
    height: 150px;
    width: 300px;
    background-color: #00B4CC;
    display: block;
	border: 0;
    margin: 10px auto;
  }
  .triangle.rectangle {
    background-color: #00DFFC;
    position: static;
    margin: 10px auto;
    height: 150px;
    width: 300px;
    line-height: 150px;
  }
}

@media screen and (max-width: 387px) {
  header {
    font-size: 13px;
  }
}

@media screen and (max-width: 350px) {
  section {
    padding-top: 50px;
  }
  header {
    font-size: 12px;
  }
  .name.hidden {
    width: 290px;
    font-size: 50px;
  }
}